a{
  all : unset;
  text-decoration:wavy; /* Remet le soulignement */
  cursor: pointer; /* Indique que c'est un lien cliquable */
  display: inline; /* Rétablit le comportement en ligne des liens */
  transition: color 0.3s ease; /* Ajoute une animation */
}



:root{
    --color-main : #bf2a38;
    --color-secondary : #fff;
    --color-tertiary: #f7ff80;
  
}
 @font-face {
  font-family: 'AS Monaco Diagonale' ;
  src: url(../fonts/ASMonacoDiagonale/ASMonacoDiagonale-Bold.ttf);
} 

h1{
  font-family: 'AS Monaco Diagonale', sans-serif;
  font-weight: bold;
  font-style: normal;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  position:fixed;
  width: 100%;
  height: 100%;
  background: url(../images/logomonaco.jpg);
  background-size:cover;
  opacity: 0.2; /* Réduit l'opacité de l'image */
  z-index: -1; /* Place derrière le contenu */
}

.custom-bg-red {
    background-color: var(--color-main); /* Remplacez par votre nuance de rouge */
}

.offcanvas-body{
    background-color: var(--color-secondary);
    color: var(--color-main);}

nav{
  background-color: var(--color-main);
}
.nav-item a{
    color: var(--color-main);
}
.nav-item img{
  width: 20px;
}
.nav-link{
    color: var(--color-main);
}

header{
    background-color: var(--color-main);
}
.bande-rouge{
    background-image: url(../Images/banderolle.jpg);
    background-size: cover;
    height: 40vh;
}

  
  .bg-dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Opacité de l'assombrissement */
    z-index: 1;
  }
  
  .bg-dark-overlay .container {
    position: relative;
    z-index: 2; /* Pour que le contenu passe au-dessus de l'overlay sombre */
  }
  
  /* Footer */
  footer{
    background-color: var(--color-main);
  }
  footer img{
    width: 80px;
  }
 footer a:hover{
  color: var(--color-tertiary) ;
  }

  .scroll-to-top {
   width: 40px;
    background-color:var(--color-main);
    color: var(--color-secondary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .scroll-to-top:hover {
    background-color: var(--color-main); /* Changement de couleur au survol */
    transform: scale(1.1); /* Zoom léger au survol */
  }


.custom-bg-red {
    background-color: var(--color-main); /* Remplacez par votre nuance de rouge */
}

.offcanvas-body{
    background-color: var(--color-secondary);
    color: var(--color-main);}


.nav-item a{
    color: var(--color-main);
}

nav-link{
    color: var(--color-main);
}

header{
    background-color: var(--color-main);
}
h1{
    color: #fff;
}


/* Page de l'etape */ 

body {
    font-family: Arial, sans-serif;
}

.titre1 {
    font-size: 2.5rem;
    color: #bf2a38; 
    margin-top: 50px;
    margin-bottom: 20px;
}

.invite1 {
    color :#bf2a38;
}

.nomEtape h1 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.lienInvite{
    font-weight: bold;
    color: #bf2a38;
}

.section-details p {
    margin: 0;
    font-size: 1.1rem;
}

.section-details p span {
    font-weight: bold;
    color: #bf2a38; 
}

.event-image,
.illustration-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
    margin-bottom: 70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #bf2a38;
    border-radius: 50%;
}


/* Page de l'invité */

.nomContact{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
    margin-top: 30px;
}

.boxLienEtape{
    margin-bottom: 30px;
}

.nomLienEtape{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #bf2a38;
    font-weight: bold;
}

.lienEtape{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
}

